<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To do List</title>
  </head>
  <body>

      <h1><%=kindOfDay%></h1>

      <ul>
        <%for (var i=0; i<=lengths; i++){%>
        <li><%= newListItem[i] %></li>
        <%}%>
      </ul>

    <form  action="/" method="post">

      <label>ADD 1 TODO THING</label><br>
      <input type="text" name="newItem">
      <button type="submit" name="button">add</button>

    </form>

  </body>
</html>
